<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
        <!--void save(BattleLog battleLog);-->
        <!--List<BattleLog> findAll();-->
    <!--void update(BattleLog battleLog);-->
    <!--BattleLog findById(String logId);-->

<mapper namespace="me.fetonxu.tank_console.mapper.BattleLogMapper">
    <insert id="save" parameterType="BattleLog">
        INSERT INTO battle_log(id, project_a_id, project_b_id,
        a_score, b_score,
        map_id, winner,
         url, compress,
          date, size)
          VALUES (#{id}, #{projectAId}, #{projectBId},
          #{aScore}, #{bScore},
          #{mapId}, #{winner},
          #{url}, #{compressType},
          #{date}, #{size});
    </insert>
    <update id="update" parameterType="Battlelog">
        UPDATE battle_log
        <set>
            <if test="winner != null">winner=#{winner},</if>
            <if test="url != null">url=#{url},</if>
            <if test="date != null">date=#{date},</if>
            <if test="size != null">size=#{size},</if>
            <if test="compress != null">compress=#{compress}</if>
        </set>
        WHERE id = #{id};
    </update>
    <select id="findById" parameterType="String" resultMap="logMap">
        SELECT * FROM battle_log WHERE id=#{logId};
    </select>
    <select id="findAll" resultMap="logMap">
        SELECT * FROM battle_log;
    </select>

    <!--List<BattleLog> findByUserId(Long userId);-->
    <select id="findByUserId" parameterType="long" resultMap="logMap">
        SELECT * FROM battle_log WHERE project_a_id IN
        (SELECT id from project WHERE user_id = #{userId})
        OR project_b_id IN (SELECT id from project WHERE user_id = #{userId});
    </select>

    <resultMap id="logMap" type="BattleLog">
        <id property="id" column="id"/>
        <result property="projectAId" column="project_a_id"/>
        <result property="projectBId" column="project_b_id"/>
        <result property="aScore" column="a_score"/>
        <result property="bScore" column="b_score"/>
        <result property="mapId" column="map_id"/>
        <result property="winner" column="winner"/>
        <result property="url" column="url"/>
        <result property="compress" column="compress"/>
        <result property="date" column="date"/>
        <result property="size" column="size"/>
    </resultMap>
</mapper>
