<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="me.fetonxu.tank_console.mapper.BattleRecordMapper">
    <insert id="save" >
        INSERT INTO record(project_a_id, project_b_id, battle_log_id, winner, date)
        VALUES(#{projectAId}, #{projectBId}, #{logId}, #{winner}, #{date});
    </insert>
    <select id="find" resultType="int">
        SELECT winner FROM record
        WHERE project_a_id=#{projectAId} and project_b_id=#{projectBId} and battle_log_id=#{logId};
    </select>

    <select id="findByProjectId" parameterType="long" resultMap="recordMap">
        SELECT * FROM record
        WHERE project_a_id = #{projectId};
    </select>

    <resultMap id="recordMap" type="BattleRecord">
        <result property="winner" column="winner"/>
        <result property="date" column="date"/>
        <association property="log" column="battle_log_id" javaType="BattleLog">
            <id property="id" column="battle_log_id"/>
        </association>
        <association property="projectB" column="project_b_id" javaType="PlayerProject">
            <id property="id" column="project_b_id"/>
        </association>
        <association property="projectA" column="project_a_id" javaType="PlayerProject">
            <id property="id" column="project_a_id"/>
        </association>
    </resultMap>
</mapper>
