<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--void update(Room room);-->
<!--void save(Room room);-->
<!--List<Room> findAll();-->
<!--Room findById(Long roomId);-->
        <!--List<Room> findByExpiredTime(long currentTime);-->
<mapper namespace="me.fetonxu.tank_console.mapper.RoomMapper">
    <insert id="save" parameterType="Room">
        INSERT INTO room(project_id, map_id,
         max_challengers, cur_challengers,
          start_time, duration)
          VALUE (#{project.id}, #{map.id},
          #{maxChallengers}, #{curChallengers},
          #{startTime}, #{duration});
    </insert>
    <update id="update" parameterType="Room">
        UPDATE room
        <set>
            <if test="project != null">project_id=#{project.id},</if>
            <if test="map != null">map_id=#{map.id},</if>
            <if test="duration != null">duration=#{duration}</if>
        </set>
        WHERE id = #{room.id};
    </update>
    <select id="findById" parameterType="long" resultMap="roomMap">
      SELECT * from room WHERE id = #{roomId};
    </select>
    <select id="findAll" resultMap="roomMap">
        SELECT * from room
    </select>
    <select id="findByExpiredTime" parameterType="long" resultMap="roomMap">
        SELECT * FROM room
        WHERE #{currentTime} -  room.start_time >= room.duration;
    </select>
    <select id="findByUserId" parameterType="long" resultMap="roomMap">
        SELECT * from room
        WHERE project_id IN
        (SELECT id FROM project
         WHERE project.user_id = #{userId})
    </select>
    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM room
        WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <resultMap id="roomMap" type="Room">
        <id property="id" column="id"/>
        <result property="maxChallengers" column="max_challengers"/>
        <result property="curChallengers" column="cur_challengers"/>
        <result property="startTime" column="start_time"/>
        <result property="duration" column="duration"/>
        <association property="project" column="project_id"
                     javaType="PlayerProject"
                     fetchType="eager"
                     select="me.fetonxu.tank_console.mapper.PlayerProjectMapper.findById"/>
        <association property="map" column="map_id"
                     javaType="BattleMap"
                     fetchType="eager"
                     select="me.fetonxu.tank_console.mapper.BattleMapMapper.findById"/>
    </resultMap>
</mapper>
